
html { 
  background: url(Images/main_portrait.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.title-text {
      padding-top: 10%;
      padding-bottom: 70vh;
      color: white;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }


    #hi {
      margin: 0;
      padding: 0;
      font-size: 3em;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-style: italic;
    }

    #name {
      margin: 0;
      padding: 0;
      font-size: 4.5em;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
    }

    #intro {
      margin: 0;
      padding-top: 0.5em;
      font-size: 1.2em;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
    }
	
	.scrollDown{
			width:4em;
	position: absolute;
        bottom: 3em;
		margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
opacity:0;
	}
	
		.scrollDownInvisible{
			width:4em;
	position: absolute;
        bottom: 3em;
		margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
opacity:0;
-webkit-transition-duration: 3s;
transition-duration: 3s;
	}

    div#text-wrapper {
        
		font-size: 3em;
        font-family: 'Roboto', sans-serif;
		font-weight:500;
		
        top: 50%;
        vertical-align:middle;
		text-align: center;
		display: table-cell;
		
		word-wrap:normal;
		
		max-width: 5em;
		min-width: 5em;
		
    }
    div#content-wrapper {
              
		top: 50%;
		vertical-align:middle;
		display: table-cell;
		width: 100%;
		

        font-size: 3em;
        font-family: 'Roboto', sans-serif;
		font-weight:500;
		padding-left: 5%;
    }
	
	
	.formline{
	display: table;
	height: 100%;
	table-layout: fixed;
	}


.body#section-wipes {
	height: 100%;
	width: 100%;
	background-image: none;
	display: table;
}

.body#section-slides #slideContainer .panel {
	
}
.body#section-wipes .panel > b {
	font-size: 40px;
	
	position: relative;
	display: block;
	height: 0;
	overflow: visible;
	top: 50%;
	font-family: 'Roboto', sans-serif;
font-weight:500;
padding-left: 5%;
}

.black {
	background-color: black;
	color: white;
}
.white {
	background-color: white;
	color: black;
}


